<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link rel="icon" href="/static/premium-icon-hotel-6030435.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/da62db7270.js"
      crossorigin="anonymous"
    ></script>
    <script>
      function num2str(count) {
        if (count > 10000) {
          return parseInt(count / 1000) + "k";
        }
        if (count > 500) {
          return parseInt(count / 100) / 10 + "k";
        }
        if (count == 0) {
          return "";
        }
        return count;
      }
      function toggle_like(post_id, type) {
        console.log(post_id, type);
        let $a_like = $(`#${post_id} a[aria-label='heart']`);
        let $i_like = $a_like.find("i");
        if ($i_like.hasClass("fa-heart")) {
          $.ajax({
            type: "POST",
            url: "/update_like",
            data: {
              post_id_give: post_id,
              type_give: type,
              action_give: "unlike",
            },
            success: function (response) {
              console.log("unlike");
              $i_like.addClass("fa-heart-o").removeClass("fa-heart");
              $a_like.find("span.like-num").text(num2str(response["count"]));
            },
          });
        } else {
          $.ajax({
            type: "POST",
            url: "/update_like",
            data: {
              post_id_give: post_id,
              type_give: type,
              action_give: "like",
            },
            success: function (response) {
              console.log("like");
              $i_like.addClass("fa-heart").removeClass("fa-heart-o");
              $a_like.find("span.like-num").text(num2str(response["count"]));
            },
          });
        }
      }
      $(document).ready(function () {
        let getLink = window.location.search;
        let num = getLink.split("=")[1];
        console.log("num: ", num);
        get_posts();
      });
      function to_main() {
        window.location.href = "/main";
      }
      function post() {
        let getLink = window.location.search;
        let num = getLink.split("=")[1];
        let comment = $("#textarea-post").val();
        let comment_rate = $("#star").val();
        console.log("num: ", num);
        $.ajax({
          type: "POST",
          url: "/posting",
          data: {
            comment_give: comment,
            comment_rate_give: comment_rate,
            hotel_id_give: num,
          },
          success: function (response) {
            $("#modal-post").removeClass("is-active"); //모달을 닫는다.
          },
        });
      }
      function get_posts() {
        let getLink = window.location.search;
        let num = getLink.split("=")[1];
        $.ajax({
          type: "POST",
          url: "/get_posts",
          data: { hotel_id_give: num },
          success: function (response) {
            console.log(response["result"]);
            if (response["result"] == "success") {
              let posts = response["posts"];
              let hotel = response["hotel"];
              console.log(hotel);
              let hotel_name_attach = `<section class="hero is-info">
                                        <div class="hero-body">
                                          <p class="title">
                                            ${hotel}
                                          </p>
                                          <p class="subtitle">
                                            -호텔 이름
                                          </p>
                                        </div>
                                      </section>`;
              $("#hotel_nameCard").append(hotel_name_attach);
              for (let i = 0; i < posts.length; i++) {
                let post = posts[i];
                let star = posts[i]["comment_rate"];
                let star_image = "⭐".repeat(star);
                let class_heart = post["heart_by_me"] //삼항연산자
                  ? "fa-heart" //트루면
                  : "fa-heart-o"; //폴스면
                let count_heart = post["count_heart"];
                let html_temp = `<div class="box" id="${post["_id"]}">
                                            <article class="media">
                                                <div class="media-left" style="color:aqua">
                                                    <i class="fa-solid fa-user fa-2xl"></i>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content">
                                                        <p>
                                                            <strong>${
                                                              post["nickname"]
                                                            }</strong>
                                                            <br>
                                                            ${post["comment"]}
                                                        </p>
                                                        <p>${star_image}</p>
                                                    </div>
                                                    <nav class="level is-mobile">
                                                      <div class="level-left">
                                                          <a class="level-item is-sparta" aria-label="heart" onclick="toggle_like('${
                                                            post["_id"]
                                                          }', 'heart')">
                                                              <span class="icon is-small"><i class="fa ${class_heart}"
                                                                                             aria-hidden="true"></i></span>&nbsp;<span class="like-num">${num2str(
                                                                                               count_heart
                                                                                             )}</span>
                                                          </a>
                                                      </div>
  
                                                  </nav>
                                                </div>
                                            </article>
                                        </div>`;
                $("#post-box").append(html_temp);
              }

              console.log("confirmed");
            }
          },
        });
      }

      function sign_out() {
        $.removeCookie("mytoken", { path: "/" });
        alert("로그아웃!");
        window.location.href = "/login";
      }

      function go_main() {
        window.location.href = "/main";
      }
    </script>
    <style>
      * {
        font-family: "Gowun Dodum", sans-serif;
      }

      .mytitle {
        width: 100%;
        height: 120px;

        background-color: #006794;
        color: white;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 120;
        position: fixed;
      }

      .main {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url("https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 12rem;
      }
      .main > .Bottom_section {
        margin-top: 20px;
        width: 300px;
      }
      .addbtn {
        object-fit: cover;
        width: 100px;
        height: 30px;
      }

      .reload-img {
        object-fit: cover;
        width: 200px;
        height: 50px;
      }
      .Top_section {
        margin-top: 50px;
        margin-bottom: 30px;
        width: 300px;
      }
      .modal-content {
        width: 600px;
        max-width: 80%;
      }
      .backword {
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .hotel_name {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .hero is-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .fa-solid fa-user fa-2xl {
        color: aqua;
      }
    </style>
    <title>Stay: in</title>
  </head>
  <body>
    <div class="mytitle">
      <div class="btn">
        <img
          class="reload-img"
          onclick="go_main()"
          src="/static/title.png"
          alt="..."
        />
      </div>
      <div class="btn">
        <img
          onclick="open_box()"
          class="addbtn"
          src="/static/addahotel.png"
          alt="..."
        />
        <img
          onclick="sign_out()"
          class="addbtn"
          src="/static/logout.png"
          alt="..."
        />
      </div>
    </div>

    <div class="main">
      <div class="hotel_name" id="hotel_nameCard"></div>
      <section class="Top_section">
        <article class="media">
          <figure class="media-left" style="align-self: center">
            <i class="fa-solid fa-user fa-2xl" style="color: aqua"></i>
          </figure>
          <div class="media-content">
            <div class="field">
              <p class="control">
                <strong
                  ><input
                    id="input-post"
                    class="input is-rounded"
                    placeholder="여행은 어떠셨나요?"
                    onclick='$("#modal-post").addClass("is-active")'
                    style="text-align: center"
                /></strong>
              </p>
            </div>
          </div>
        </article>
        <div class="modal" id="modal-post">
          <div
            class="modal-background"
            onclick='$("#modal-post").removeClass("is-active")'
          ></div>
          <div class="modal-content">
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="field">
                    <p class="control">
                      <textarea
                        id="textarea-post"
                        class="textarea"
                        placeholder="여행은 어떠셨나요?"
                      ></textarea>
                    </p>
                    <div class="input-group mb-3">
                      <label class="input-group-text" for="inputGroupSelect01"
                        >별점</label
                      >
                      <select class="form-select" id="star">
                        <option selected>-- 선택하기 --</option>
                        <option value="1">⭐</option>
                        <option value="2">⭐⭐</option>
                        <option value="3">⭐⭐⭐</option>
                        <option value="4">⭐⭐⭐⭐</option>
                        <option value="5">⭐⭐⭐⭐⭐</option>
                      </select>
                    </div>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left"></div>
                    <div class="level-right">
                      <div class="level-item">
                        <a class="button is-sparta" onclick="post()"
                          >작성하기</a
                        >
                      </div>
                      <div class="level-item">
                        <a
                          class="button is-sparta is-outlined"
                          onclick='$("#modal-post").removeClass("is-active")'
                          >취소</a
                        >
                      </div>
                    </div>
                  </nav>
                </div>
              </article>
            </div>
          </div>
          <button
            class="modal-close is-large"
            aria-label="close"
            onclick='$("#modal-post").removeClass("is-active")'
          ></button>
        </div>
        <!-- 입력창 -->
      </section>
      <section class="Bottom_section">
        <div id="post-box" class="container">
          {% for post in posts %} {% if star == "1" %} {% set star_image = "⭐"
          %} {% elif star == "2" %} {% set star_image = "⭐⭐" %} {% elif star
          == "3" %} {% set star_image = "⭐⭐⭐" %} {% elif star == "4" %} {%
          set star_image = "⭐⭐⭐⭐" %} {% elif star == "5" %} {% set
          star_image = "⭐⭐⭐⭐⭐" %} {% endif %}{% endfor %}
        </div>
      </section>
      <div class="backword">
        <button type="button" class="btn btn-outline-info" onclick="go_main()">
          메인으로 돌아가기
        </button>
      </div>
    </div>
  </body>
</html>
